.App {
  text-align: center;
}

.App-header {
  margin: 50px auto 0 auto;
  background-color: #282c34;
  min-height: 100px;
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-body {
  margin: 0 auto 0 auto;
  padding-bottom: 30px;
  border: solid 2px #282c34;
  min-height: 100px;
  width: 796px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

